name: Chat

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl, aarch64-apple-darwin, x86_64-apple-darwin, x86_64-pc-windows-gnu,i686-pc-windows-gnu]

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.70.0
        target: ${{ matrix.target }}
    - uses: ClementTsang/cargo-action@v0.0.3
      with:
        command: build
        args: --release --target=${{ matrix.target }}
        use-cross: true
        directory: "./chat"
